.docs-story {
  background-color: var(--color-studio-light);
  color: var(--color-studio-ground);
}

.dark .docs-story {
  background-color: var(--color-studio-ground);
  color: var(--color-studio-cream);
}
